doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title UoB Motorsport Society
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Amatic+SC')
    link(rel='shortcut icon', href='https://s3-eu-west-1.amazonaws.com/nusdigital/group/images/8726/medium/bristol-red.jpg')
    link(rel='stylesheet', href='stylesheets/intro_page.css')
    //- link(rel='javascript', href='javascript/intro-page-animation.js')
  body
    div.panels
      div.panel.panel1
        a(href='/home'): p Hey
        p Let's
        a(href='/home'): p Race
      div.panel.panel2
        a(href='/about'): p Give
        p Take
        a(href='/about'): p Overtake
      div.panel.panel3
        a(href='/forum'): p Experience
        p It
        a(href='/forum'): p Today
      div.panel.panel4
        a(href='/events'): p Give
        p All
        a(href='/events'): p You can
      div.panel.panel5
        a(href='/gallery'): p Live
        p In
        a(href='/gallery'): p Motion
    script(type='text/javascript', src='javascripts/intro-page-animation.js')
          
        
        
